/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 40px;
  background-color: #fafafa;
}

/* Navigation bar style */
nav {
  text-aligned: center;
  margin-bottom: 30px;
}

/* Navigation Links */
nav a {
  margin: 10px;
  text-decoration: none;
  color: #0066cc;
  font-weight: 600;
}
/* Hover effect*/
nav a:hover {
  font-weight: 1500;
  text-decoration: underline;
}
